.head{
	text-shadow: 2px 2px 7px lightgreen;
}
.body{
	width: 550px;
	height: 700px;	
    padding: 10px;
}
.box{
	margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 27%;
    margin-left: 27%;
	border-style: solid;
	border-width: 4px;
}